<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
    <ae:configuration>
        
        <module enabled="true">
            <settings>
                <setting name="title">Cronks Module</setting>
                <setting name="version">1.0</setting>

                <!-- Module configuration -->

                <setting name="agavi.include.css">
                    <ae:parameter>%core.module_dir%/Cronks/config/css.xml</ae:parameter>
                </setting>

                <setting name="agavi.include.javascript">
                    <ae:parameter>%core.module_dir%/Cronks/config/javascript.xml</ae:parameter>
                </setting>

                <setting name="agavi.include.cronks">
                    <ae:parameter>%core.module_dir%/Cronks/config/cronks.xml</ae:parameter>
                    <ae:parameter>%core.module_dir%/Cronks/config/cronks_categories.xml</ae:parameter>
                    <ae:parameter>%core.module_dir%/Cronks/config/cronks_system.xml</ae:parameter>
                    <ae:parameter>%core.module_dir%/Cronks/config/cronks_grid.xml</ae:parameter>
                    <ae:parameter>%core.module_dir%/Cronks/config/cronks_misc.xml</ae:parameter>
                    <ae:parameter>%core.module_dir%/Cronks/config/cronks_to.xml</ae:parameter>
                </setting>

                <!--
                    * Path to our grid templates
                -->
                <setting name="xml.path.grid">%core.module_dir%/Cronks/data/xml/grid</setting>

                <!--
                    * Path to our tactical overview templates
                -->
                <setting name="xml.path.to">%core.module_dir%/Cronks/data/xml/to</setting>

                <!--
                    * Grid settings
                -->
                <setting name="grid.pagerMaxItems">30</setting>

                <setting name="grid.refreshTime">300</setting>
                
                <!--
                    * Search box
                -->
                <setting name="search.numberMinimumLetters">2</setting>
                <setting name="search.maximumResults">200</setting>
            
                <setting name="templates">
                    <ae:parameter name="cache_dir">%core.cache_dir%/CronkTemplates</ae:parameter>
                    <ae:parameter name="use_caching">true</ae:parameter> 
                </setting>
                                
                <setting name="agavi.include.routing">
                    <ae:parameter>%core.module_dir%/Cronks/config/routing.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.templateExtensions">
                    <ae:parameter name="folder">%core.module_dir%/Cronks/data/xml/extensions/</ae:parameter>
                    <ae:parameter name="pattern">.*\.xml$</ae:parameter>
                </setting>

            </settings>
        </module>
        
    </ae:configuration>

    <!-- Try include the overwriting file -->
    <!-- This is done in the Config module and not here anymore (#2494) -->
</ae:configurations>
