<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<setting name="title">Cronks Module</setting>
				<setting name="version">1.0</setting>
				
				<setting name="xml.path">%core.module_dir%/Cronks/data/xml</setting>
				
				<setting name="categories">
					<ae:parameter name="core">
						<ae:parameter name="title">Core components</ae:parameter>
						<ae:parameter name="visible">false</ae:parameter>
					</ae:parameter>
					
					<ae:parameter name="data">
						<ae:parameter name="title">Data</ae:parameter>
						<ae:parameter name="visible">true</ae:parameter>
						
						<!-- Activate first! -->
						<ae:parameter name="active">true</ae:parameter>
					</ae:parameter>
					
					<ae:parameter name="misc">
						<ae:parameter name="title">Misc</ae:parameter>
						<ae:parameter name="visible">true</ae:parameter>
					</ae:parameter>
				</setting>
				
				<setting name="cronks">
					<xi:include xmlns:xi="http://www.w3.org/2001/XInclude"
					href="cronks.xml#xpointer(setting/node())" />
				</setting>
				
				<setting name="dynamicscripts">
					<ae:parameter name="AppKit.Ext.grid.IcingaColumnRenderer">%core.module_dir%/Cronks/templates/System/ViewProc/js/IcingaColumnRenderer.js</ae:parameter>
					<ae:parameter name="Cronks.CommandHandler">%core.module_dir%/Cronks/templates/System/ViewProc/js/IcingaCommandHandler.js</ae:parameter>
					<ae:parameter name="Cronks.JitStatusMap">%core.module_dir%/Cronks/templates/System/js/JitStatusMap.js</ae:parameter>
					<ae:parameter name="Cronks.CronkTrigger">%core.module_dir%/Cronks/templates/System/js/CronkTrigger.js</ae:parameter>
				</setting>
				
			</settings>
		</module>
		
	</ae:configuration>
</ae:configurations>