<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<setting name="title">Cronks Module</setting>
				<setting name="version">1.0</setting>

				<!-- Module configuration -->

				<!-- Adding styles -->
				<setting name="appkit_module.app.css_files">
					<!-- JIT - JavaScript InfoVis Toolkit -->
					<ae:parameter>/styles/statusmap.css</ae:parameter>
					<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="module.site.xml" xpointer="xmlns(m=http://agavi.org/agavi/config/parts/module/1.0) xmlns(ae=http://agavi.org/agavi/config/global/envelope/1.0) xpointer(//m:settings/m:setting[@name='appkit_module.app.css_files.site']/node())">
						<xi:fallback></xi:fallback>
					</xi:include>


				</setting>

				<setting name="appkit_module.app.javascript_files">
					<ae:parameter>%core.root_dir%/lib/ext3/examples/ux/Portal.js</ae:parameter>
					<ae:parameter>%core.root_dir%/lib/ext3/examples/ux/PortalColumn.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/Portlet.js</ae:parameter>
					<ae:parameter>%core.root_dir%/lib/ext3/examples/ux/GroupTabPanel.js</ae:parameter>
					<ae:parameter>%core.root_dir%/lib/ext3/examples/ux/GroupTab.js</ae:parameter>
					<ae:parameter>%core.root_dir%/lib/ext3/examples/ux/MultiSelect.js</ae:parameter>
					<ae:parameter>%core.root_dir%/lib/ext3/examples/ux/TabScrollerMenu.js</ae:parameter>

					<ae:parameter>%core.module_dir%/Cronks/lib/js/Cronk.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/CronkUtil.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/FilterHandler.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/SlidingTabs.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/Tabhelper.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/CronkTabpanel.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/rmd160.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/CronkBuilder.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/CronkListingPanel.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/StaticContentUtil.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/grid/ColumnRenderer.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/grid/GridPanel.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/grid/MetaGridCreator.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/grid/GridUtil.js</ae:parameter>
					<ae:parameter>%core.root_dir%/lib/ext3/examples/ux/ColumnNodeUI.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Cronks/lib/js/SearchHandler.js</ae:parameter>

					<ae:parameter>%core.root_dir%/lib/jit/Extras/excanvas.js</ae:parameter>
					<ae:parameter>%core.root_dir%/lib/jit/jit-yc.js</ae:parameter>
					<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="module.site.xml" xpointer="xmlns(m=http://agavi.org/agavi/config/parts/module/1.0) xmlns(ae=http://agavi.org/agavi/config/global/envelope/1.0) xpointer(//m:settings/m:setting[@name='appkit_module.app.javascript_files.site']/node())">
						<xi:fallback></xi:fallback>
					</xi:include>


				</setting>

				<setting name="appkit_module.app.javascript_dynamic">
					<ae:parameter name="Cronk.grid.IcingaColumnRenderer">%core.module_dir%/Cronks/templates/System/ViewProc/js/IcingaColumnRenderer.js</ae:parameter>
					<ae:parameter name="Cronk.grid.IcingaGridFilterHandler">%core.module_dir%/Cronks/templates/System/ViewProc/js/IcingaGridFilterHandler.js</ae:parameter>
					<ae:parameter name="Cronks.CommandHandler">%core.module_dir%/Cronks/templates/System/ViewProc/js/IcingaCommandHandler.js</ae:parameter>
					<ae:parameter name="Cronks.JitStatusMap">%core.module_dir%/Cronks/templates/System/js/JitStatusMap.js</ae:parameter>
					<ae:parameter name="Cronks.CronkTrigger">%core.module_dir%/Cronks/templates/System/js/CronkTrigger.js</ae:parameter>
					<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="module.site.xml" xpointer="xmlns(m=http://agavi.org/agavi/config/parts/module/1.0) xmlns(ae=http://agavi.org/agavi/config/global/envelope/1.0) xpointer(//m:settings/m:setting[@name='appkit_module.app.javascript_dynamic.site']/node())">
						<xi:fallback></xi:fallback>
					</xi:include>
				</setting>

				<!--
					* Path to our grid templates
				-->
				<setting name="xml.path.grid">%core.module_dir%/Cronks/data/xml/grid</setting>

				<!--
					* Path to our tactical overview templates
				-->
				<setting name="xml.path.to">%core.module_dir%/Cronks/data/xml/to</setting>

				<!--
					* How log we preload the portal (showing the funny throbber, idling arround)
				-->
				<setting name="portal.loadmasktimeout">1800</setting>

				<!--
					* Grid settings
				-->
				<setting name="grid.pagerMaxItems">30</setting>

				<setting name="grid.refreshTime">300</setting>
				
				<!--
					* Search box
				-->
				<setting name="search.numberMinimumLetters">2</setting>
				<setting name="search.maximumResults">200</setting>
				
				<!-- 
					* Include cubconfig
				-->
				<setting name="categories">
					<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="cronks.xml" xpointer="xpointer(//settings/setting[@name='categories']/node())" />
					<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="cronks.site.xml" xpointer="xpointer(//settings/setting[@name='categories']/node())">
						<xi:fallback></xi:fallback>
					</xi:include>
				</setting>
				
				<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="module.site.xml" xpointer="xmlns(m=http://agavi.org/agavi/config/parts/module/1.0) xpointer(//m:settings/node())">
					<xi:fallback></xi:fallback>
				</xi:include>

		
				<setting name="cronks">
					<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="cronks.xml" xpointer="xpointer(//settings/setting[@name='cronks']/node())" />
					<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="cronks.site.xml" xpointer="xpointer(//settings/setting[@name='cronks']/node())">
						<xi:fallback></xi:fallback>
					</xi:include>
				</setting>
			</settings>
		</module>
		
	</ae:configuration>
</ae:configurations>
