<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<!-- META -->
				<setting name="title">Reporting Module</setting>
				<setting name="version">1.0</setting>

				<setting name="authors">
					<ae:parameter name="info@icinga.org">Icinga Development Team</ae:parameter>
				</setting>
				
				<setting name="homepage">http://www.icinga.org</setting>
				<setting name="update_url" />
				<setting name="description">Seamless integration of jasper reporting into icinga-web</setting>
				
				<!-- Reporting Javascript libs -->
				<setting name="appkit_module.app.javascript_files">
					<!-- UI -->
					<ae:parameter>%core.module_dir%/Reporting/lib/js/Icinga.Reporting.Cronk.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Reporting/lib/js/Icinga.Reporting.util.OnTheFly.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Reporting/lib/js/Icinga.Reporting.util.ResourceTree.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Reporting/lib/js/Icinga.Reporting.util.RunReportPanel.js</ae:parameter>
					
					<!-- Input Controls -->
					<ae:parameter>%core.module_dir%/Reporting/lib/js/Icinga.Reporting.inputControl.Default.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Reporting/lib/js/Icinga.Reporting.inputControl.ApiSelectionField.js</ae:parameter>
					<ae:parameter>%core.module_dir%/Reporting/lib/js/Icinga.Reporting.inputControl.OutputFormatSelector.js</ae:parameter>
				</setting>
				
				<!-- Module routing table -->
				<setting name="appkit_module.agavi.include_xml.routing">
					<ae:parameter>%core.module_dir%/Reporting/config/routing.xml</ae:parameter>
				</setting>
				
				<!-- Parameter and datatype mapping -->
				<setting name="parameter.mapping.name">
					<ae:parameter name="p_host_object_id">
						<ae:parameter name="className">Icinga.Reporting.inputControl.ApiSelectionField</ae:parameter>
						<ae:parameter name="target">host</ae:parameter>
						<ae:parameter name="valueField">HOST_OBJECT_ID</ae:parameter>
						<ae:parameter name="displayField">HOST_NAME</ae:parameter>
					</ae:parameter>
					<ae:parameter name="p_hostgroup_object_id">
						<ae:parameter name="className">Icinga.Reporting.inputControl.ApiSelectionField</ae:parameter>
						<ae:parameter name="target">hostgroup</ae:parameter>
						<ae:parameter name="valueField">HOSTGROUP_OBJECT_ID</ae:parameter>
						<ae:parameter name="displayField">HOSTGROUP_NAME</ae:parameter>
					</ae:parameter>
					
					<ae:parameter name="p_service_object_id">
						<ae:parameter name="className">Icinga.Reporting.inputControl.ApiSelectionField</ae:parameter>
						<ae:parameter name="target">service</ae:parameter>
						<ae:parameter name="valueField">SERVICE_OBJECT_ID</ae:parameter>
						<ae:parameter name="displayField">SERVICE_NAME</ae:parameter>
					</ae:parameter>
				</setting>
				
				<setting name="parameter.mapping.type">
					<ae:parameter name="2">
						<ae:parameter name="className">Ext.form.DateField</ae:parameter>
						<ae:parameter name="format">Y-m-d H.i.s</ae:parameter>
					</ae:parameter>
				</setting>
				
				<!-- 
					Jasperserver configuration:
					Use the setting names to configure your cronk, in the following case:
					
						- modules.reporting.jasperconfig.default
						- modules.reporting.jasperconfig.custom1
				-->
				
				<!-- Jasper configurations -->
				<setting name="jasperconfig.default">
					<ae:parameter name="jasper_url">http://10.121.0.95:8080/jasperserver</ae:parameter>
					<ae:parameter name="jasper_user">jasperadmin</ae:parameter>
					<ae:parameter name="jasper_pass">jasperadmin</ae:parameter>
				</setting>
				
				<!-- Custom config if I have more that once -->
				<!--
				<setting name="jasperconfig.custom1">
					<ae:parameter name="jasper_url">http://127.0.0.175/jasperserver</ae:parameter>
					<ae:parameter name="jasper_user">custom_user</ae:parameter>
					<ae:parameter name="jasper_pass">custom_passwd</ae:parameter>
				</setting>
				-->
				
			</settings>
		</module>
		
	</ae:configuration>
	
</ae:configurations>