.settings/org.eclipse.php.core.prefs
autom4te.cache/
app/cache/config/*.php
app/cache/content
app/data/log/
app/config/icinga.xml
app/config/databases.xml
app/modules/Web/config/icinga-io.xml
bin/clearcache.sh
icinga-web.session
icinga-web.webprj
Makefile
config.log
config.status
etc/build.properties
etc/tests/test.properties
etc/apache2/icinga-web.conf
pub/.htaccess
pub/soap/.htaccess
*~
