autom4te.cache/
app/cache/config/*.php
app/data/log/
app/cache
lib/icinga-api
icinga-web.session
icinga-web.webprj
Makefile
config.log
config.status
etc/build.properties
etc/tests/test.properties
app/config/databases.xml
pub/.htaccess
pub/soap/.htaccess
*~
