.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.php.server.core.phpServersPrefs.prefs
.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
autom4te.cache/
app/cache/config/*.php
app/cache/content
app/data/log/
app/data/tmp
app/config/icinga.xml
app/config/databases.xml
app/config/settings.xml
app/config/settings.site.xml
app/config/translation.site.xml
app/config/factories.site.xml
app/modules/Web/config/icinga-io.xml
app/modules/AppKit/cache/Widgets/SquishLoader.xml
app/modules/Api/lib/.ssh/*
app/modules/Api/config/module.site.xml
app/modules/Api/config/module.xml
app/modules/AppKit/config/module.site.xml
app/modules/Web/config/module.site.xml
app/modules/Cronks/config/module.site.xml
app/modules/Reporting/data/tmp
bin/clearcache.sh
icinga-web.session
icinga-web.webprj
Makefile
config.log
config.status
etc/build.properties
tests/phpunit/test.properties
tests/php/results.xml
etc/apache2/icinga-web.conf
pub/.htaccess
pub/soap/.htaccess
icinga-web.mwb.bak
*~
*.swp

