<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0" xmlns="http://icinga.org/icinga/config/global/menu/1.0">
    <ae:configuration>
        <menu id="menu_lconf">
            <credential>lconf.user</credential>
            <preferposition>before:menu_admin</preferposition>
            <icon>lconf-logo</icon>
            <caption>LConf</caption>
            <items>
                <item id="menu_lconf_editor"> 
                    <icon>icinga-icon-chart-organisation</icon>
                    <caption>LDAP Editor</caption>
                    <route target="new">
                        modules.lconf.main
                    </route>
                </item>
                <item id="menu_lconf_connectionmgr">
                    <icon>icinga-icon-user</icon>
                    <caption>LConf Connection Manager</caption>
                    <credential>lconf.admin</credential>
                    <route target="new">
                        modules.lconf.admin
                    </route>
                </item>     
                <item id="menu_lconf_about">
                    <icon>icinga-icon-help</icon>
                    <caption>About</caption>
                    <route target="window" title="About lconf" id="icinga-window-lconf-about">
                        modules.lconf.about
                    </route>
                </item>
            </items> 
        
        </menu>
    </ae:configuration>
</ae:configurations>

