<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
    <ae:configuration>

        <module enabled="true">
            <settings>
                <setting name="title">Lconf Module</setting>
                <setting name="version">1.2.1</setting>
                <!--
                <setting name="authors">
                    <ae:parameter name="joe.cool@peanuts.com">Snoopy</ae:parameter>
                </setting>
                <setting name="homepage">http://www.agavi.org</setting>
                <setting name="update_url" />
                <setting name="description">An example module</setting>
-->    			
                <setting name="connectionSource">DB</setting>
                <!-- Adding styles -->

                <setting name="appkit_module.app.css_files">
                    <!-- extjs stylesheets -->
                    <ae:parameter>/styles/icinga_lconf.css</ae:parameter>
                </setting>

                <setting name="appkit_module.app.javascript_files">
                    <!-- extjs stylesheets -->
                    <ae:parameter>%core.module_dir%/LConf/lib/js/MultiSelectTree.js</ae:parameter>
                    <ae:parameter>%core.module_dir%/LConf/lib/js/GridTreeEditorField.js</ae:parameter>
                </setting>

                <setting name="icons">
                    <ae:parameter name="organizationalUnit">icinga-icon-organisation</ae:parameter>
                    <ae:parameter name="lconfStructuralObject">lconf-logo</ae:parameter>
                    <ae:parameter name="lconfTimeperiod">icinga-icon-clock-red</ae:parameter>
                    <ae:parameter name="lconfCommand">icinga-icon-script</ae:parameter>
                    <ae:parameter name="lconfContact">icinga-icon-user</ae:parameter>
                    <ae:parameter name="lconfContactgroup">icinga-icon-group</ae:parameter>
                    <ae:parameter name="lconfHost">icinga-icon-server</ae:parameter>
                    <ae:parameter name="lconfHostEscalation">lconf-application-lightning</ae:parameter>
                    <ae:parameter name="lconfHostgroup">icinga-icon-hostgroup</ae:parameter>
                    <ae:parameter name="lconfService">icinga-icon-cog</ae:parameter>
                    <ae:parameter name="lconfServiceEscalation">lconf-application-lightning</ae:parameter>
                    <ae:parameter name="lconfServicegroup">icinga-icon-servicegroup</ae:parameter>

                    <ae:parameter name="alias">icinga-icon-attach</ae:parameter>
                </setting>
                <setting name="prefix">lconf</setting>
                <setting name="customDialogs">
                    <ae:parameter>
                        <ae:parameter name="view">Command</ae:parameter>
                        <ae:parameter name="description">Create a command</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-script</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Contact</ae:parameter>
                        <ae:parameter name="description">Create a contact</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-user</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Contactgroup</ae:parameter>
                        <ae:parameter name="description">Create a contactgroup</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-group</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Host</ae:parameter>
                        <ae:parameter name="description">Create a host</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-server</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Hostgroup</ae:parameter>
                        <ae:parameter name="description">Create a hostgroup</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-hostgroup</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Hostescalation</ae:parameter>
                        <ae:parameter name="description">Create a hostescalation</ae:parameter>
                        <ae:parameter name="iconCls">lconf-application-lightning</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Service</ae:parameter>
                        <ae:parameter name="description">Create a service</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-cog</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Servicegroup</ae:parameter>
                        <ae:parameter name="description">Create a servicegroup</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-servicegroup</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Serviceescalation</ae:parameter>
                        <ae:parameter name="description">Create a serviceescalation</ae:parameter>
                        <ae:parameter name="iconCls">lconf-application-lightning</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">StructuralObject</ae:parameter>
                        <ae:parameter name="description">Create a structural object</ae:parameter>
                        <ae:parameter name="iconCls">lconf-logo</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Timeperiod</ae:parameter>
                        <ae:parameter name="description">Create a timeperiod</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-clock-red</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="view">Custom</ae:parameter>
                        <ae:parameter name="description">Create a custom entry</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-bricks</ae:parameter>
                    </ae:parameter>
                </setting>

                <setting name="propertyPresets">
                    <!-- base stuff -->
                    <ae:parameter name="property">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">"properties"</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="objectclass">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">"objectclass"</ae:parameter>
                    </ae:parameter>

                    <!-- multiple times used -->
                    <ae:parameter name="lconfMembers">
                        <ae:parameter name="lconfHostgroup">
                            <ae:parameter name="factory">Set</ae:parameter>
                            <ae:parameter name="parameter">{"LDAP":["objectclass=lconfHost"],"Attr": "cn"}</ae:parameter>
                        </ae:parameter>

                        <ae:parameter name="lconfContactgroup">
                            <ae:parameter name="factory">Set</ae:parameter>
                            <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContact"],"Attr": "cn"}</ae:parameter>
                        </ae:parameter>

                        <ae:parameter name="lconfServicegroup">
                            <ae:parameter name="factory">Set</ae:parameter>
                            <ae:parameter name="parameter">{"LDAP":["objectclass=lconfService"],"Attr": "cn"}</ae:parameter>
                        </ae:parameter>

                        <!-- Default values -->
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfHost"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostgroupMembers">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfHostgroup"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <!-- contacts -->
                    <ae:parameter name="lconfContactHostNotificationCommands">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfCommand"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfContactServiceNotificationCommands">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfCommand"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfContactHostNotificationPeriod">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfTimeperiod"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfContactServiceNotificationPeriod">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfTimeperiod"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfContactgroups">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContactgroup"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <!-- hosts -->
                    <ae:parameter name="lconfHostCheckcommand">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfCommand"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostCheckPeriod">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfTimeperiod"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostContacts">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContact"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostContactgroups">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContactgroup"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostDependency">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfHost"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostEventhandler">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfCommand"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostgroups">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfHostgroup"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostNotificationPeriod">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfTimeperiod"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfParent">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfHost"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <!-- services -->
                    <ae:parameter name="lconfServiceCheckcommand">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfCommand"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfServiceCheckPeriod">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfTimeperiod"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfServiceContacts">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContact"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfServiceContactgroups">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContactgroup"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfServiceEventhandler">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfCommand"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfServicegroups">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfServicegroup"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfServiceNotificationPeriod">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfTimeperiod"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <!-- hostescalations -->
                    <ae:parameter name="lconfHostEscalationContacts">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContact"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostEscalationContactgroups">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContactgroup"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfHostEscalationPeriod">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfTimeperiod"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <!-- serviceescalations -->
                    <ae:parameter name="lconfServiceEscalationContacts">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContact"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfServiceEscalationContactgroups">
                        <ae:parameter name="factory">Set</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfContactgroup"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>

                    <ae:parameter name="lconfServiceEscalationPeriod">
                        <ae:parameter name="factory">ComboBox</ae:parameter>
                        <ae:parameter name="parameter">{"LDAP":["objectclass=lconfTimeperiod"],"Attr": "cn"}</ae:parameter>
                    </ae:parameter>
                </setting>

                <setting name="searchCategories">
                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfHost</ae:parameter>
                        <ae:parameter name="category">Host</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-server</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfHostEscalation</ae:parameter>
                        <ae:parameter name="category">Hostescalation</ae:parameter>
                        <ae:parameter name="iconCls"></ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfHostgroup</ae:parameter>
                        <ae:parameter name="category">Hostgroup</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-hostgroup</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfService</ae:parameter>
                        <ae:parameter name="category">Service</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-cog</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfServiceEscalation</ae:parameter>
                        <ae:parameter name="category">Serviceescalation</ae:parameter>
                        <ae:parameter name="iconCls"></ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfServicegroup</ae:parameter>
                        <ae:parameter name="category">Servicegroup</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-servicegroup</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfContact</ae:parameter>
                        <ae:parameter name="category">Contact</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-user</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfContactgroup</ae:parameter>
                        <ae:parameter name="category">Contactgroup</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-group</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfCommand</ae:parameter>
                        <ae:parameter name="category">Command</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-script</ae:parameter>
                    </ae:parameter>

                    <ae:parameter>
                        <ae:parameter name="objectclass">lconfTimeperiod</ae:parameter>
                        <ae:parameter name="category">Contactgroup</ae:parameter>
                        <ae:parameter name="iconCls">icinga-icon-clock-red</ae:parameter>
                    </ae:parameter>
                </setting>

                <setting name="inheritance">

                    <ae:parameter name="lconfHost">
                        <ae:parameter name="(lconfHost|lconfStructuralObject)">
                            <ae:parameter name="attributes">
                                <ae:parameter name="lconfhost*">
                                    <ae:parameter name="overwrite">true</ae:parameter>
                                </ae:parameter>
                                <ae:parameter name="lconfhostcustom">
                                    <ae:parameter name="overwrite">false</ae:parameter>
                                </ae:parameter>
                                <ae:parameter name="lconfhostcontact">
                                    <ae:parameter name="overwrite">false</ae:parameter>
                                </ae:parameter>
                            </ae:parameter>
                        </ae:parameter>
                    </ae:parameter>

                  <ae:parameter name="lconfService">
                        <ae:parameter name="(lconfService|lconfStructuralObject)">
                            <ae:parameter name="attributes">
                                <ae:parameter name="lconfservice">
                                    <ae:parameter name="overwrite">true</ae:parameter>
                                </ae:parameter>
                                <ae:parameter name="lconfservicecustom">
                                    <ae:parameter name="overwrite">false</ae:parameter>
                                </ae:parameter>
                                <ae:parameter name="lconfservicecontact">
                                    <ae:parameter name="overwrite">false</ae:parameter>
                                </ae:parameter>
                            </ae:parameter>
                        </ae:parameter>
                    </ae:parameter>
                    <!--
                            Inheritance definition service
                     -->

                    <!--
                    <ae:parameter name="lconfService">
                        <ae:parameter name="lconfService">
                            <ae:parameter name="attributes">
                                <ae:parameter name="lconfcheckcommand">
                                    <ae:parameter  name="overwrite">true</ae:parameter>
                                </ae:parameter>
                            </ae:parameter>
                        </ae:parameter>
                    </ae:parameter>
                    -->

                    <!--
                            Inheritance definition host
                     -->

                    <!--
                    <ae:parameter name="lconfHost">
                        <ae:parameter name="lconfHost">
                            <ae:parameter name="attributes">
                                <ae:parameter name="lconfaddress">
                                    <ae:parameter name="overwrite">true</ae:parameter>
                                </ae:parameter>
                                <ae:parameter name="lconfalias">
                                    <ae:parameter name="overwrite">true</ae:parameter>
                                </ae:parameter>
                            </ae:parameter>
                        </ae:parameter>
                    </ae:parameter>
                    -->

                </setting>

                <setting name="ldap_definition_ini">%core.module_dir%/LConf/lib/ldapConfig/staticObjects.ini</setting>
                <setting name="ldap_object_presets_ini">%core.module_dir%/LConf/lib/ldapConfig/objectDefaultAttributes.ini</setting>

                <setting name="lconfTestCheck">
                    <!--
                        the user which to use when performing test run on a local machine.
                        The Webserver's user must be able execte the plugins as this user
                        via sudo (without password). SSH Hosts ignore this setting
                    -->
                    <ae:parameter name="checkUser">icinga</ae:parameter>
                    <ae:parameter name="checkInstance">default</ae:parameter>

                </setting>


                <setting name="lconfExport">
                    <ae:parameter name="lconfConsoleInstance">localhost</ae:parameter>
                    <!-- DN which should be used for exporting
                         Will be prepended to the connections base dn. For example:

                         exportDN: cn=IcingaLConf,ou=Monitoring
                         Connections BaseDN: dc=my,dc=server,dc=org
                         The export will only scan folders below
                         cn=IcingaLConf,ou=Monitoring,dc=my,dc=server,dc=org
                    -->
                    <!--
                        <ae:parameter name="exportDN"></ae:parameter>
                    -->

                </setting>
                <setting name="agavi.include.menu">
                    <ae:parameter>%core.module_dir%/LConf/config/menu.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.routing">
                    <ae:parameter>%core.module_dir%/LConf/config/routing.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.javascript">
                    <ae:parameter>%core.module_dir%/LConf/config/javascript.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.css">
                    <ae:parameter>%core.module_dir%/LConf/config/css.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.templateExtensions">
                    <ae:parameter>%core.module_dir%/LConf/config/templateExtensions/hostServiceGridExtender.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.module">
                    <ae:parameter>%core.module_dir%/LConf/config/templateExtensions/hostServiceGridExtender.xml</ae:parameter>
                </setting>


            </settings>
        </module>

    </ae:configuration>
</ae:configurations>
