<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<setting name="title">Api Module</setting>
				<setting name="version">1.0</setting>
				<setting name="access"></setting>		
			</settings>
			<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="access.xml"/>
			
			<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="module.site.xml">
				<xi:fallback></xi:fallback>
			</xi:include>
		</module>
		
	</ae:configuration>
</ae:configurations>
