<?xml version="1.0" encoding="UTF-8"?>
<configurations xmlns="http://agavi.org/agavi/1.0/config">
	<configuration>

		<system_actions>

			<system_action name="default">
				<module>AppKit</module>
				<action>Index</action>
			</system_action>

			<system_action name="error_404">
				<module>AppKit</module>
				<action>Error404</action>
			</system_action>

			<system_action name="unavailable">
				<module>AppKit</module>
				<action>Unavailable</action>
			</system_action>

			<system_action name="module_disabled">
				<module>AppKit</module>
				<action>ModuleDisabled</action>
			</system_action>

			<system_action name="secure">
				<module>AppKit</module>
				<action>Secure</action>
			</system_action>

			<system_action name="login">
				<module>AppKit</module>
				<!-- <action>AjaxLogin</action> -->
				<action>AjaxLogin</action>
			</system_action>

		</system_actions>

		<settings>
			<setting name="app_name">ICINGA</setting>

			<setting name="available">true</setting>
			<setting name="debug">false</setting>

			<setting name="use_database">true</setting>
			<setting name="use_logging">true</setting>
			<setting name="use_security">true</setting>
			<setting name="use_translation">true</setting>
		</settings>

		<!-- Include our icinga settings -->
		<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="icinga.xml"/>

		<exception_templates>
			<!-- this is the exception template that's used by default unless one for a specific context has been defined, or for the current output type -->
			<!-- note that exceptions that occur before a context is even fully initialized, or an exception that happens before the output types are loaded and determined, will use a template defined here -->
			<exception_template>%core.agavi_dir%/exception/templates/shiny.php</exception_template>
			<!-- an example for per-context exception templates -->
			<!-- per-output-type templates can be set in output_types.xml -->
			<exception_template context="console">%core.agavi_dir%/exception/templates/plaintext.php</exception_template>
		</exception_templates>

	</configuration>

	<configuration environment="development.*">
		<settings>
			<setting name="debug">false</setting>
		</settings>
	</configuration>

	<configuration environment="production.*">
		<exception_templates>
			<!-- a different exception template for production -->
			<!-- it really doesn't do much -->
			<exception_template>%core.template_dir%/exceptions/_default.php</exception_template>
			<!-- for the web, we want one that returns a 500 status -->
			<exception_template context="web">%core.template_dir%/exceptions/web.php</exception_template>
		</exception_templates>
	</configuration>
</configurations>
