@CHARSET "UTF-8";
.ldap-connection {
    width:150px;
    margin:5px;
    padding:5px;
    height:65px;
    float:left;
    border: 1px solid #cacaca;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-align:center;
    background-color:#efefef;
    cursor:pointer;
}

.ldap-connection.plus {
	padding-top:30px;
	background-color: #f3f3f3;
	color: #acacac;
	height:40px;
	float:left;
	font-size:10px;
}

.lconf-icon-plus {
	background-image: url(../../../../images/icons/plus.png) !important;
	background-repeat: no-repeat;
	float:left;
}

.ldap-connection.x-view-over {
    background-color:#dedede;
}
.ldap-connection.x-view-select{
    background-color:#dddddd;
}

.ldap-connection .thumb {
    height:35px;
    width:35px;
    background-image:url(../images/world.png);
    background-repeat:no-repeat;
    margin:auto;
}

.ldap-filter {
    margin:2px;
    width:98%;
    padding:5px;
    height:1.5em;
    float:left;
    border: 1px solid #cacaca;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-align:left;
    background-color:#efefef;
    cursor:pointer;
}

.ldap-filter .thumb {
  	height:20px;
    width:35px;
    float:left;
    background-image:url(../../../../images/icons/cross-button.png);
    background-repeat:no-repeat;
    margin:auto;
}

.ldap-filter.x-view-over {
    background-color:#dedede;
}
.ldap-filter.x-view-select{
    background-color:#dddddd;
}

.ldap-filter.isActive  .thumb {
    background-image:url(../../../../images/icons/accept.png);
}

.lconf-panel-disabled .ldap-filter .thumb  {
    background-image:url(../../../../images/icons/minus-white.png)!important;
}


.middleAlign {
    vertical-align:middle;
}

.x-tree-node .noMatch *{
    color:grey;
}

.lconf_infobox {
	margin:10px;
	width:400px;
	font-size:10px;
	padding:5px;
	height:200px;
	scroll:auto;
	overflow:scroll;
    border:1px solid #ababab;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:white;
	cursor:text;
	color:'red';
}

.lconf_infobox ul {
    margin-left:10px;
    padding-left:5px;  
    list-style: circle;
}

.lconf_infobox ul li {
    border-bottom:1px solid grey;
    margin-bottom:2px;
}

.lconfGrid .x-grid3-col {
    border-bottom:1px solid #ababab;
    border-right:1px solid #ababab;
}

.lconfGrid .x-grid3-row.inherited{
    color:#787878;
}
.lconf-about {
	width:100%;
	text-align:center;
	margin:auto
}
.lconf-about .logo {
	background-image: url(../images/LConf_Logo.jpg);
	height:146px;
	width:406px;
	margin:auto;
	text-align:center;
	background-repeat: no-repeat;	
}

.lconf_cronk_sel.unfinished{

	background-image: url(../../../../images/ajax/circle-ball.gif);
	height:32;
	width:32;
	background-repeat: no-repeat;	
}

.lconf_cronk_sel.available{
	background-image: url(../../../../images/icons/sitemap.png);
	height:32;
	width:32;
	cursor:pointer;
	background-repeat: no-repeat;	
}

.lconf_cronk_sel.notAvailable{
	background-image: none;
	height:32;
	width:32;
	background-repeat: no-repeat;	
}

li div.italic * span {
	color: #acacac;
}

/**
* Disable text-selection supression in grid
**/
.x-grid3-col-value .dnSelectable  {
	-moz-user-select:inherit;
	-khtml-user-select:text;
}


.lconf_serviceCheck {
    padding: 1em;
}

.lconf_serviceCheck.error .message {
    background-image: url(../../../../images/icons/cross-circle-frame.png);
    background-repeat: no-repeat;
    font-weight: bold;
    color:red;
    padding-left:24px;
}

.lconf_serviceCheck.error .command {
    padding-top: 2em;
}

.lconf_serviceCheck.error .command .label {
    font-weight: bold;
}

.lconf_serviceCheck.success .statusCode {
    margin:auto;
    width: 50%;
    border: 1px solid black;
    text-align:center;
    font-size:15px;
    font-weight:bold;
    
}

.lconf_serviceCheck.success .message {
    margin:auto;
    margin-top:5px;
    width: 95%;
    border: 1px solid black;
    padding:1em;
    font-size:10px;
    font-weight:bold;
    font-family: monospace;
    height: 80px;
    overflow: auto;
}

.lconf_serviceCheck.success .hint {
    color: red;
}
.lconf-logo { background-image: url(../images/tree_small.png) !important; background-repeat: no-repeat;}
.lconf-application-lightning { background-image: url(../../../../images/icons/application_lightning.png) !important; background-repeat: no-repeat;}
.icinga-icon-arrow-divide { background-image: url(../../../../images/icons/arrow-branch.png) !important; background-repeat: no-repeat; }
.icinga-icon-server {background-image: url(../../../../images/icons/server.png) !important; background-repeat: no-repeat; }
.icinga-icon-wand {background-image: url(../../../../images/icons/wand.png) !important; background-repeat: no-repeat; }
.icinga-icon-arrow-application-expand {background-image: url(../../../../images/icons/application-sidebar-expand.png) !important; background-repeat: no-repeat; }
.icinga-icon-arrow-turn-left { background-image: url(../../../../images/icons/arrow-curve-090-left.png) !important; background-repeat: no-repeat; }
.icinga-icon-arrow-right-medium { background-image: url(../../../../images/icons/other/iconRightMedium.gif) !important; background-repeat: no-repeat; }
.icinga-icon-chart-organisation{ background-image: url(../../../../images/icons/sitemap.png) !important; background-repeat: no-repeat; }
.icinga-icon-clock-red { background-image: url(../../../../images/icons/alarm-clock.png) !important; background-repeat: no-repeat; }
.icinga-icon-script { background-image: url(../../../../images/icons/script.png) !important; background-repeat: no-repeat; }
.icinga-icon-organisation { background-image: url(../../../../images/icons/sitemap.png) !important; background-repeat: no-repeat; }
.icinga-icon-sitemap { background-image: url(../../../../images/icons/sitemap.png) !important; background-repeat: no-repeat; }
.icinga-icon-stop { background-image: url(../../../../images/icons/cross-button.png) !important; background-repeat: no-repeat; }
.icinga-icon-attach { background-image: url(../../../../images/icons/paper-clip.png) !important; background-repeat: no-repeat; }
.icinga-icon-disk { background-image: url(../../../../images/icons/disk.png) !important; background-repeat: no-repeat; }

