# htaccess config for the icinga-web project

DirectoryIndex index.php

Options -MultiViews -Indexes +FollowSymLinks
Order allow,deny
Allow from all

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # This depends on your path
    # on independent hosts the base is '/'
    RewriteBase /~mhein/icinga-web
	
	# If the requested URL does not exist (it's likely an agavi route),
	# pass it as path info to index.php, the Agavi dispatch script.
	RewriteRule ^$ index.php?/ [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) index.php?/$1 [QSA,L]
</IfModule>

<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
	
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
	BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
	
	Header append Vary User-Agent env=!dont-vary
</IfModule>

<IfDefine APACHE2>
	AcceptPathInfo On
</IfDefine>

#<IfModule mod_auth_basic.c>
#	AuthType Basic
#	AuthName "My http basic auth realm"
#	AuthUserFile /path/to/my/htusers
#	require valid-user
#</IfModule>

# [EOF]