@CHARSET "UTF-8";

/** CRONKS **/

div.cronk-data-view div.cronk-preview {
	float: left;
	margin-right: 0;
	margin: 5px;
	padding: 5px;
}

div.cronk-data-view div.cronk-preview span {
	display: block;
	overflow: hidden; 
	text-align: center;
}

div.cronk-data-view .x-view-over{
	background-color: #f1f1f1;
	padding: 4px;
}

div.cronk-data-view .x-view-selected{
	background: #eff5fb  no-repeat right bottom;
	padding: 4px;
}

div.cronk-data-view .x-view-selected .thumb{
	background:transparent;
}

/* div.x-portlet div.x-panel-body { */
.cronk-left-content .x-panel-body-noborder {
	background: white url(../images/background/icinga_logo_cronk_left_bg.png) no-repeat bottom right;
}

.cronk-center-content .x-panel-body-noborder {
	background: white url(../images/background/icinga_logo_cronk_bg.png) no-repeat bottom right;
}

/** THE STATUS **/
div.icinga-status {
	padding: 4px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

div.icinga-status span {
	font-size: 8pt;
}

div.icinga-status-ok {
	background-color: #00cc00;
}

div.icinga-status-warning {
	background-color: #ffff00;
}

div.icinga-status-critical {
	background-color: #ff0000;
	color: #fff;
}

div.icinga-status-up {
	background-color: #00cc00;
}

div.icinga-status-down {
	background-color: #cc0000;
}

div.icinga-status-down span {
	color: #fff;	
}

div.icinga-status-unreachable {
	background-color: #ff8000;
}

div.icinga-status-unknown {
	background-color: #ff8000;
}

/** tables **/

table.icinga-data-table {
	border-collapse: collapse;
}

table.icinga-data-table tr td {
	vertical-align: middle;
	padding: 1px 4px 1px 4px;
}

table .icinga-odd {
	background-color: #f1f1f1;
}

table .icinga-even {
	background-color: #fff;
}

table.icinga-attribute-table {
	background-color: #FFE87C;
	border-bottom: 1px #a1a1a1 solid;
	border-left: 1px #a1a1a1 solid;
	border-top: 1px #c0c0c0 solid;
	border-right: 1px #c0c0c0 solid;
	border-collapse: collapse;
}

table.icinga-attribute-table td, table.icinga-attribute-table tr {
	margin: 0;
	padding: 0;
}

table.icinga-attribute-table td.key {
	padding: 2px 2px 2px 2px;
	border-right: 1px #c0c0c0 solid;
}

table.icinga-attribute-table td.val {
	padding: 2px 2px 2px 2px;
}

/** TOP BAR **/
#topBar {
	width: 100%;
	/* border: 1px solid #ff0000; */
	height: 21px;
	background: white url(../images/background/navigation-top-bg.png) repeat top right;
}

.yui-skin-sam .yuimenubar {
	border: none;
}

.yui-skin-sam .yuimenubaritemlabel {
	border-top: none;
	border-bottom: none;
}

.yui-skin-sam .yuimenubaritemlabel-selected {
	border-left: solid 1px #ccc;
}

#yahooTopMenu {
	width: 50%;
	float: left;
}

#icinga-logo-top {
	float: right;
	width: 65px;
	height: 21px;
	background: url(../images/icinga/icinga-logo-small.png) no-repeat bottom right;
}

#rss-top {
	float: right;
	margin-top: 4px;
	margin-left: 12px;	
}

#links-top {
	float: right;
	margin-top: 4px;	
	font-size: 10px;
}

/** TOP-VIEW BAR **/
#viewBarTop {
}