@CHARSET "UTF-8";

/** CRONKS **/

div.cronk-data-view div.cronk-preview {
	float: left;
	margin-right: 0;
	padding: 5px;
}

div.cronk-data-view div.cronk-preview span{
	display: block;
	overflow: hidden;
	text-align: center;
}

div.cronk-data-view .x-view-over{
    border:1px solid #dddddd;
	padding: 4px;
}

div.cronk-data-view .x-view-selected{
	background: #eff5fb  no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}

div.cronk-data-view .x-view-selected .thumb{
	background:transparent;
}

/** THE STATUS **/
div.icinga-status {
	padding: 4px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

div.icinga-status span {
	font-size: 8pt;
}

div.icinga-status-ok {
	background-color: #00cc00;
}

div.icinga-status-warning {
	background-color: #ffff00;
}

div.icinga-status-critical {
	background-color: #ff0000;
	color: #fff;
}

div.icinga-status-up {
	background-color: #00cc00;
}

div.icinga-status-down {
	background-color: #cc0000;
}

div.icinga-status-down span {
	color: #fff;	
}

div.icinga-status-unreachable {
	background-color: #ff8000;
}

div.icinga-status-unknown {
	background-color: #ff8000;
}

/** tables **/

table.icinga-data-table {
	border-collapse: collapse;
}

table.icinga-data-table tr td {
	vertical-align: middle;
	padding: 1px 4px 1px 4px;
}

table .icinga-odd {
	background-color: #f1f1f1;
}

table .icinga-even {
	background-color: #fff;
}

table.icinga-attribute-table {
	background-color: #FFE87C;
	border-bottom: 1px #a1a1a1 solid;
	border-left: 1px #a1a1a1 solid;
	border-top: 1px #c0c0c0 solid;
	border-right: 1px #c0c0c0 solid;
	border-collapse: collapse;
}

table.icinga-attribute-table td, table.icinga-attribute-table tr {
	margin: 0;
	padding: 0;
}

table.icinga-attribute-table td.key {
	padding: 2px 2px 2px 2px;
	border-right: 1px #c0c0c0 solid;
}

table.icinga-attribute-table td.val {
	padding: 2px 2px 2px 2px;
}