html {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 7pt;	
}

img { border: 0px }

a {
	color: #666666;
}

h1 { font-size: 13pt; }

h2 { font-size: 12pt; margin: 10px 0 15px 0; }

h3 { font-size: 11pt; font-weight: normal; margin: 10px 0 15px 0; }

strong {
	font-weight: bolder;
}

em {
	font-style: italic;
}

p.legal {
	font-size: 0.8em;
	margin: 10px auto;	
}

p { margin: 15px auto; }

table td, table th {
	vertical-align: top;
	margin: 0 0;
	padding: 0 0;
}

table {
	border-collapse: collapse;
}

#content {
	padding: 5px 5px;
}

.simple-content-container {
	margin: 20px 50px 20px 50px;
	font-size: 12px;
}

.simple-content-container li {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 10px;
}

.simple-content-message {
	padding: 10px;
	width: 400px;
	border: 1px #c0c0c0 solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/** MISC **/

div#icinga-portal-loading-mask {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:90000;
    background-color:white;	
}

div#icinga-portal-loading {
    position: absolute;
    left: 45%;
    top: 40%;
    padding: 2px;
    z-index: 90001;
    height: 31px;
    width: 31px;
    background: transparent url("../images/ajax/icinga-throbber.gif") center center;
}

div.logEntry {
    padding:5px;
    margin-top:7px;
    padding-left:25px;
    padding-top:5px;
    font-size:15px;
    width:75px;
    border:1px solid #acacac;
    background: transparent url("../images/icons/book.png") left;
    background-repeat: no-repeat;
    -moz-box-shadow:2px 2px 2px #acacac;
    -webkit-box-shadow:2px 2px 2px #acacac;
    background-color:#ededed;
	cursor:pointer;
}
div.logEntry.x-view-over {
	background-color:#cecece;
}
/** CRONKS **/

div.x-icinga-icon-search-item {
	height: 40px;
	background-position: 2px center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 42px;
	line-height: 40px;
}

div.icinga-osearch-frame div.icinga-osearch-wrap {
	float: left;
	margin: 4px;
	padding: 5px;
	border: 1px #c0c0c0 solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}

div.icinga-osearch-frame div.icinga-osearch-wrap div.thumb {
	padding: 0px auto 0px auto;
	text-align:center;
}

div.icinga-osearch-frame div.icinga-osearch-wrap div {
	padding: 0px auto 0px auto;
	text-align:center;
}

div.icinga-osearch-frame .x-view-over {
	background-color: #f1f1f1;
	padding: 5px;
}

div.icinga-osearch-frame .x-view-selected {
	background-color: #ffcc00;
	padding: 5px;
}

div.cronk-data-view div.cronk-preview {
	float: left;
	margin-right: 0;
	margin: 5px;
	padding: 5px;
	border: 1px #c0c0c0 solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	width: 70px;
}

div.cronk-data-view div.cronk-item-owner div.cronk-status-icon {
	background: transparent url("../images/icons/user.png") top right no-repeat;
}

div.cronk-data-view div.cronk-item-system div.cronk-status-icon {
	background: transparent url("../images/icons/shield.png") top right no-repeat;
}

div.cronk-data-view div.cronk-item-shared div.cronk-status-icon {
	background: transparent url("../images/icons/application-share.png") top right no-repeat;
}

div.cronk-data-view div.cronk-preview {
	background-color: #fff;
}

div.cronk-data-view div.cronk-preview:hover {
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transition: 0.2s linear;
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

div.cronk-data-view div.cronk-preview div.thumb {
	padding: 0px auto 0px auto;
	text-align:center;
}

div.cronk-data-view div.cronk-preview span {
	display: block;
	overflow: hidden; 
	text-align: center;
}

div.cronk-data-view .x-view-over{
	background-color: #f1f1f1;
	padding: 4px;
}

div.cronk-data-view .x-view-selected{
	background-color: #ffcc00;
	padding: 4px;
}

div.cronk-data-view .x-view-selected .thumb{
	background:transparent;
}

/* div.x-portlet div.x-panel-body { */
#west-frame .x-panel-body-noborder {
	background: white url(../images/background/bg-frame-left.png) no-repeat bottom right;
}

#center-frame .x-panel-body-noborder {
	background: white url(../images/background/bg-frame-right.png) no-repeat top right;
}

/** JS Message stack **/

div.growl-msg-message {
	position: relative;
	z-index: 999;	
}

div.growl-msg-message .head {
	font-size: 10pt;
	font-weight: bolder;
}

div#growl-msg-stack {
	position:absolute;
    /* left: 35%;
    top: 10px; */
    top: 35%;
    width: 300px;
    z-index: 20000;
}

/** Icinga status classes **/

.icinga-notext {
	text-indent: -100px;
}

.icinga-link {
	cursor: pointer;
/*	text-decoration: underline;*/
}

.icinga-link-default {
	cursor: pointer;
	text-decoration: underline;
	color: #0000ff;
}

div.icinga-box-container {
	border: 1px #a0a0a0 solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.icinga-status-container {
	border: 1px #a0a0a0 solid;
	width: 180px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 8px 8px 5px #888;
}

div.icinga-status-container div.icinga-status-label {
	background-color: #c0c0c0;
	padding: 6px 2px 6px 10px;
}

div.icinga-status-container div.icinga-status {
	margin: 4px 4px 4px 4px;
}

div.icinga-status {
	padding: 4px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.icinga-status span, span.icinga-status {
	font-size: 8pt;
}

div.icinga-status-ok, div.servicechart-0 {
	background-color: #00cc00;
}

span.icinga-status-ok {
	color: #00cc00;
}

div.icinga-status-warning, div.servicechart-1 {
	background-color: #ffff00;
}

span.icinga-status-warning {
	color: #ffff00;
}

div.icinga-status-critical, div.servicechart-2 {
	background-color: #ff0000;
	color: #fff;
}

span.icinga-status-critical {
	color: #ff0000;
}

div.icinga-status-up, div.hostchart-0 {
	background-color: #00cc00;
}

span.icinga-status-up {
	color: #00cc00;
}

div.icinga-status-down, div.hostchart-1 {
	background-color: #cc0000;
}

span.icinga-status-down {
	color: #cc0000;
}

div.icinga-status-down span {
	color: #fff;	
}

div.icinga-status-unreachable, div.hostchart-2 {
	background-color: #ff8000;
}

span.icinga-status-unreachable {
	color: #ff8000;
}

div.icinga-status-unknown, div.servicechart-3 {
	background-color: #ff8000;
}

span.icinga-status-unknown {
	color: #ff8000;
}

span.icinga-status-pending {
	color: #aa3377;
}

div.icinga-status-pending {
	background-color: #aa2277;
}


div.icinga-status-all {
	background-color: #a0a0a0;
}

div.hostchart-0, div.hostchart-1, div.hostchart-2,
div.servicechart-0, div.servicechart-1, div.servicechart-2, div.servicechart-3 {
	height: 15px;
}

div.status-summary-hostchart {
	float: left;
	margin-top: 15px;
}

div.status-summary-servicechart {
	float: right;
	margin-top: 15px;
	margin-right: 50px;
}

/** tables **/

table.icinga-data-table {
	border-collapse: collapse;
}

table.icinga-data-table tr td {
	vertical-align: middle;
	padding: 1px 4px 1px 4px;
}

table .icinga-odd {
	background-color: #f1f1f1;
}

table .icinga-even {
	background-color: #fff;
}

table.icinga-attribute-table {
	background-color: #FFE87C;
	border-bottom: 1px #a1a1a1 solid;
	border-left: 1px #a1a1a1 solid;
	border-top: 1px #c0c0c0 solid;
	border-right: 1px #c0c0c0 solid;
	border-collapse: collapse;
}

table.icinga-attribute-table td, table.icinga-attribute-table tr {
	margin: 0;
	padding: 0;
}

table.icinga-attribute-table td.key {
	padding: 2px 2px 2px 2px;
	border-right: 1px #c0c0c0 solid;
}

table.icinga-attribute-table td.val {
	padding: 2px 2px 2px 2px;
}

div.icinga-detailed-info-container {
	padding: 5px 0px 5px 0px;
}

/** Detailed object status table **/
table.icinga-detailed-info {
	border-collapse: collapse;
}

table.icinga-detailed-info td {
	border-collapse: collapse;
	padding: 2px 10px 2px 2px;
}

table.icinga-detailed-info td.key {
	
}
/** TOP BAR **/
#topBar {
	width: 100%;
	/* border: 1px solid #ff0000; */
	height: 21px;
	background: white url(../images/background/navigation-top-bg.png) repeat top right;
}

.x-icinga-top-right {
	background-image: url(../../images/extjs/toolbar/bg.gif);
	line-height: 28px;
	padding-left: 3px;
	background-color: #dcdcdc;
	border-bottom: 1px #a0a0a0 solid;
}

.x-icinga-top-right-logo {
	background: url(../images/icinga/icinga-logo-small.png) no-repeat 32px center;
	border-bottom: 1px #a0a0a0 solid;
}
	
.x-icinga-top-toolbar {
	border-bottom: 1px #a0a0a0 solid;
	background-image: url(../../images/extjs/toolbar/bg.gif);
}

#icinga-logo-top {
	
}

#rss-top {
	
}

#links-top {
	
}

div#menu {
	border-bottom: 1px #999 solid;
}

#north-frame div {
	border: none;
}

/** STATUS-SUMMARY VIEW **/
.status-summary-row {
	color: #000000;
	cursor: pointer;
}

.status-summary-row:hover {
	color: #f88017;
	cursor: pointer;
}

/** MISC **/
.no-background {
	background: none;
}

.icinga-icon-dot { background-image: url(../images/icinga/idot-icon.png) !important; background-repeat: no-repeat; }

/** ExtJS grid classes **/
.x-icinga-grid-link {
	color: #0000ff;
	cursor: pointer;
}

.x-icinga-grid-link:hover {
	text-decoration: underline;
}

.x-icinga-grid-data-null {
	color: #0000cc;	
}

.x-icinga-multiline-column div {
	white-space: normal;	
}

/** Simple box classes **/
.x-icinga-simplebox-green {
	padding: 10px;
	color: #fff;
	background-color: #00bb00;
	border: 1px #00cc00 solid;
}

.x-icinga-nodata {
	background: transparent url("../images/background/nodata.png") center center no-repeat;
}

/** Static content container **/
.static-content-container {
	/* background-color: #ffffff; */
	padding: 2px 5px 2px 5px;
}

.static-content-container table td {
	margin: 4px 4px;
	padding: 4px 8px 8px 4px;
}

.static-content-container .drilldown-link-container {
	margin: 10px 0px 10px 0px;
	background: #f1f1f1;
	padding: 4px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


div.role_user_wrap {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid grey;
    margin:2px;
    float:left;
    padding:5px;
    background:#efefef;
    cursor:pointer;
}
div.role_user_icon {
	width:25px;
	height:25px;
	float:left;
}

/* OverallStatus */

div.icinga-overall-status-item {
	cursor: pointer;
}

div.icinga-overall-status-item, div.icinga-overall-status-icon {
	float: left;
	margin: 0px 0px 0px 5px;
}

div.icinga-overall-status-spacer {
	height: 2px;
}

div.icinga-overall-status-icon {
	width: 16px;
	height: 16px;
}

div.icinga-overall-status-container {
	
}

/** Bug display **/

div.icinga-bugBox {
   -webkit-box-shadow:3px 3px 2px #dedede; 
   -moz-box-shadow:3px 3px 2px #dedede;
    padding: 2px;
    margin: 2px;
	cursor:help;
}

div.icinga-bugBox.xover {
   background-color: #efefef;
}

div.icinga-codeBox {
	background-color: #ffffff;
	border:#acacac;
	font-family:monospace;
	font-size:10px;
	white-space:pre;
}

div.icinga-icon-bug-32 {
	background-image: url(../images/icinga/bug_big.png) !important; background-repeat: no-repeat;
}

/** Comments **/

div.icinga-comment-frame {
	padding: 8px 5px 3px 5px;
}

div.icinga-comment {
	border: 1px solid #666666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 2px 0px 2px 0px;
}

div.icinga-comment .icinga-comment-author {
	padding: 2px 5px 2px 5px;
	background-color: #666666;
	color: #ffffff;
}

div.icinga-comment .icinga-comment-data {
	padding: 5px 2px 2px 5px;
}

/** Monitor Performance **/

div.icinga-monitor-performance {
	background-color: #f1f1f1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	padding: 1px 5px 0px 5px;
}

div.icinga-monitor-performance-container {
	padding: 0px 0px 1px 0px;
}

div.icinga-monitor-performance-container .key {
	width: 20px;
	height: 16px;
	float: left;
}

div.icinga-monitor-performance-container .value {
	line-height: 16px;
}

div.icinga-monitor-performance-container-50 {
	width: 50%;
	float: left;
}

/** Floating tools **/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.float-container {
	overflow: hidden;	
}

.activeFilter {
	background-color:#ffacac;
    -moz-box-shadow:1px -1px 50px red;
    -webkit-box-shadow:1px -1px 50px red;
	-o-box-shadow:1px -1px 50px red;
}

/* EOF */
/*MODULE[CRONK_BP]*/
div.bp_cfgPanel {
    width:75px;
    height:75px;
    border:1px solid #ababab;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:2px 2px 5px #888;
    -webkit-box-shadow:2px 2px 5px #888;
    text-align:center;
    float:left;
    margin:5px;
    cursor:pointer;
}

div.bp_cfgPanel * {
    cursor:pointer;    cursor:pointer;
}

div.bp_thumb {
    width:32px;
    height:32px;
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
    background-image:url('../images/cronks/default.png');
    background-repeat:no-repeat;
}

div.bp_cfgPanel {
    width:100px;
    border:1px solid #dedede;
    text-align:center;
    margin:auto;
    margin-top:5px;
    padding:5px;
}

div.bp_cfgPanel.x-over {
    background-color:#dedede;
}

tr.bp_serviceRow {
    background-color:#dedede;
}

.icinga-icon-chart-organisation { background-image: url(../images/famfamfam/chart_organisation.png) !important; background-repeat: no-repeat; }
.icinga-icon-sitemap { background-image: url(../images/famfamfam/sitemap.png) !important; background-repeat: no-repeat; }

/*!
 * Ext JS Library 3.3.1
 * Copyright(c) 2006-2010 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */
.x-tab-scroller-right-over {
    background-position: -18px 0;
}

.x-tab-tabmenu-right {
    background: transparent url(../images/ext3-ux/tab-scroller-menu.gif) no-repeat 0 0;
    border-bottom: 1px solid #ababab;
    width:18px;
    
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    cursor:pointer;
}
.x-tab-tabmenu-over {
    background-position: -18px 0;
}
.x-tab-tabmenu-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}


