.jitContainer {
    width: 1000px;
    height: 600px;
    margin:0;
    position:relative;
}

.jitContainerRight, .jitContainerCenter {
    height:600px;
    position:absolute;
    top:0;
}

.jitContainerRight {
    color:#383a60;
    text-align: left;
    overflow: auto;
    left: 605px;
}

.jitContainerCenter {
    width:600px;
    border-right:1px solid #ddd;
}

.jitDetails {
    font-size:1em;
    list-style:none;
    margin:7px;
}

.jitLog {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}

.jitMap {
    position:relative;
    width:600px;
    height:600px;
    margin:auto;
    overflow:hidden;
}

.jitMap div {
	border: none;
}