/*[CRONK_BP]*/
div.bp_cfgPanel {
    width:75px;
    height:75px;
    border:1px solid #ababab;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:2px 2px 5px #888;
    -webkit-box-shadow:2px 2px 5px #888;
    text-align:center;
    float:left;
    margin:5px;
    cursor:pointer;
}

div.bp_cfgPanel * {
    cursor:pointer;    cursor:pointer;
}

div.bp_thumb {
    width:32px;
    height:32px;
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
    background-image:url('../images/cronks/default.png');
    background-repeat:no-repeat;
}

div.bp_cfgPanel.x-over {
    background-color:#dedede;
}

tr.bp_serviceRow {
    background-color:#dedede;
}

/*[CRONK_BP]*/