<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<setting name="title">AppKit Module</setting>
				<setting name="version">1.0</setting>
<!--
				<setting name="authors">
					<ae:parameter name="joe.cool@peanuts.com">Snoopy</ae:parameter>
				</setting>
				<setting name="homepage">http://www.agavi.org</setting>
				<setting name="update_url" />
				<setting name="description">An example module</setting>
-->
			</settings>
			
			<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="auth.xml"/>
		</module>
		
	</ae:configuration>
</ae:configurations>