<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<setting name="title">BPAddon Module</setting>
				<setting name="version">1.0</setting>
<!--
				<setting name="authors">
					<ae:parameter name="joe.cool@peanuts.com">Snoopy</ae:parameter>
				</setting>
				<setting name="homepage">http://www.agavi.org</setting>
				<setting name="update_url" />
				<setting name="description">An example module</setting>
-->
                <setting name="agavi.include.javascript">
                    <ae:parameter>%core.module_dir%/BPAddon/config/javascript.xml</ae:parameter>
                </setting>
                 <setting name="agavi.include.databases">
                    <ae:parameter>%core.module_dir%/BPAddon/config/databases.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.css">
                    <ae:parameter>%core.module_dir%/BPAddon/config/css.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.cronks">
                    <ae:parameter>%core.module_dir%/BPAddon/config/cronks.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.routing">
                    <ae:parameter>%core.module_dir%/BPAddon/config/routing.xml</ae:parameter>
                </setting>
                <setting name="agavi.include.routing">
                    <ae:parameter>%core.module_dir%/BPAddon/config/routing.xml</ae:parameter>
                </setting>
                
                <setting name="bp">
                    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="bp.xml#xpointer(setting/node())"/>
                </setting>

            </settings>
            
		</module>
		
	</ae:configuration>
	
</ae:configurations>